
<h1>Create a new Tweet as @<%= current_user.username %></h1>

<form action="/tweets" method="post">
  <input type="text" name="content" id="content" >
  <input type="submit" value="Tweet!" id="submit">
</form>