<h2>New Tweet</h2>

<form action='/tweets' method='POST'>
	<textarea rows="5" cols = "20" name="content" class="form-control" id="tweet"></textarea>
	
	<br>
	
	<button type="submit" class="btn btn-primary" id="submit">Tweet it!</button>	
</form>